<div class="row">
<div class="col-sm-5">
<%= form_for(@folder) do |f| %>

  <% if @folder.errors.any? %>

  <div class="alert alert-danger" role="alert">

      <ul>
      <% @folder.errors.full_messages.each do |message| %>
      
        <li><%= message %></li>
      
      <% end %>
      </ul>
      </div>
      
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control"%>
  </div>
  
  
    <%= f.submit class: "btn btn-success"%>
  
<% end %>
</div>
</div>