
 
<h1>
  <strong>Pasta</strong>
  <%= @folder.name %>
</h1>
<br/>
<%= link_to 'Novo Artigo', new_exemples_folder_path(@folder), class: "btn btn-success" %>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Pasta</th>
      <th>Privado</th>
    </tr>
  </thead>

  <tbody>
    <% @examples.each do |example| %>
      <div class="link_too"    
      <tr>
        <td class="td-index"><%= link_to example.name, example %></td>
        <td><%= example.folder.name %></td>
        <td><% if example.private?  %> Sim <%else %> Não <% end %></td>
        
      </tr>
      
      </div>
    <% end %>
    <br>
  </tbody>
</table>
<%= will_paginate @examples, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to 'Voltar', folders_path, class: "btn btn-default" %>

