

<h1><strong>Usuarios da pasta</strong> <%= @folder.name %></h1>

<table class="table">
  <thead>
    <tr>
      
      <th>Usuario</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folder_users.each do |folder_user| %>
      <tr>
        <td><%= folder_user.user.email %></td>
        <td><%= link_to folder_user, method: :delete , data: { confirm: 'Tem certeza?' }, class: "btn btn-danger" do %>
             <i class="glyphicon glyphicon-remove"></i> Excluir <% end %>
        </td>        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo usuario', new_user_folder_share_path(@folder), class: "btn btn-success" %>
<%= link_to 'Voltar', folders_path, class: "btn btn-default" %>
