<p id="notice"><%= notice %></p>

<h2>
  <strong>Nome:</strong>
  <%= @example.name %>
</h2>


    <a href="<%= @example.my_file %>" class="btn btn-info">Exibir Arquivo</a>
<%= link_to 'Editar', edit_example_path(@example) , class: "btn btn-warning"%> 
<%= link_to 'Voltar', examples_path , class: "btn btn-default"%> 
<%= link_to 'Excluir', example_path, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%>
