<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @example.name %>
</p>


<table>
  <tr>
    <td><a href="<%= @example.my_file %>">Exibir Arquivo</a></td>
    
  </tr>
</table>

<%= link_to 'Editar', edit_example_path(@example) %> |
<%= link_to 'Voltar', examples_path %> |
<%= link_to 'Delete', example_path, method: :delete, data: { confirm: 'Are you sure?' } %>
